# Ignore Maven build output
target/
.mvn/wrapper/maven-wrapper.jar

# Ignore help files
HELP.md

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr

### VSCODE ###
.vscode/*
.vscode/

### Environment Variables ###
.env
*.env
